a.text-primary:hover {
    color: #e74c3c !important;
}

.img-avatar.img-avatar24 {
    width: 24px;
    height: 24px;
}

.profile-content p {
    margin: 0;
}

.form-material .form-control[disabled] {
    background-color: transparent;
}

.form-group select.form-control option {
    color: #575757;
}

.js-cookie-consent.cookie-consent {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #f0f2f1;
}
span.cookie-consent__message {
    color: #1F1F21;
}
button.js-cookie-consent-agree {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #f3a8a0;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 16px;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    color: #921e12;
    background-color: #f3a8a0;
    height: 34px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
}

#sidebar {
    background-color: #383838;
}

.nav-main a, .nav-main a>i {
    color: #fff;
}

.page-link {
    color: #fff;
    background-color: #373737;
    border-color: #373737;
}

.page-item.disabled .page-link {
    background-color: #373737;
    border-color: #373737;
    color: #e3e3e3;
}

.content-heading {
    color: #fff;
}

.form-group input.form-control {
    color: #fff;
}

div.spoiler div.spoiler-title div.show-icon {
    background: url(/assets/js/plugins/ckeditor/plugins/spoiler/images/plus.png);
}

div.spoiler div.spoiler-title div.hide-icon {
    background: url(/assets/js/plugins/ckeditor/plugins/spoiler/images/minus.png);
}

div.spoiler div.spoiler-title {
    background: #333333;
    color: #fff;
}

div.spoiler div.spoiler-content {
    background: #373737;
}
