a.text-primary:hover {
    color: #e74c3c !important;
}

.img-avatar.img-avatar24 {
    width: 24px;
    height: 24px;
}

.profile-content p {
    margin: 0;
}

.form-material .form-control[disabled] {
    background-color: transparent;
}

.form-group select.form-control option {
    color: #575757;
}
